/* whitepaper theme */


/* global */

@font-face {
  font-family: pbio;
  src: url(dat/pbio-bold.ttf)
}

body {
    font-family: pbio, Monospace, Verdana, arial, helvetica;
    -webkit-text-size-adjust: none;
    background-color: black;
    color: white;
    font-size: 130%;
    line-height: 1.5em;
    overflow: hidden;
}

a {
    color: cornflowerblue;
    text-decoration: none;
}

a:visited {
    color: cornflowerblue;
    text-decoration: none;
}

a:hover {
    color: cornflowerblue;
    text-decoration: underline;
}

.mono {
    font-family: monospace;
}

.center {
    display: block;
    text-align: center;
}

/* standard layer */

.wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 36);
}

.graphics {
    position: absolute;
    height: 40%;
    top: 0;
    margin-left: 25%;
    width: 50%;
    padding:10px;
    box-sizing: border-box;
    background-color: black;
}

.text {
    position: absolute;
    overflow: hidden;
    width: 50%;
    margin-left: 25%;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    background-color: black;
}

.input {
    position: fixed;
    margin-left: 25%;
    height: 2em;
    bottom: 0;
    box-sizing: border-box;
    width: 50%;
    padding: 0 10px 5px 10px;
    background-color: black;
}

.prompt {
    border: none;
    margin: 5px 0 5px 0;
    outline:  none;
    width: 100%;
    font-family: pbio, Monospace, Verdana, arial, helvetica;
    text-transform: uppercase;
    font-size: 100%;
    background-color: black;
    color: white;
}

.location_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    max-width: 100%;
    max-height: 100%;
}

.half_text {
    top: 42%;
    bottom: 7%;
}

.half_graphics {
    height: 40%;
    top: 0;
}

.hidden {
    height: 0%;
}

.feedback {
    color: #888;
    text-shadow: 1px 1px 1px #000;
    text-transform: uppercase;
}

.all_text {
    top: 0;
    bottom: 7%;
}

/* input placeholder */

::-webkit-input-placeholder { color:#f0f; }
::-moz-placeholder { color:#f0f; } /* firefox 19+ */
:-ms-input-placeholder { color:#f0f; } /* ie */
input:-moz-placeholder { color:#f0f; }


/* block layer */

.block_layer {
    position: absolute;
    left :0 ;
    top :0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 1000;
    background-color: black;
}

.block_layer .block_graphics {
    position: absolute;
    width: 100%;
    height: 40%;
    top: 0;
    display: block;
    background-color: black;
    box-sizing: border-box;
}

.block_picture {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.block_layer .block_text {
    position: absolute;
    top: 90%;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    background-color: black;
}

/* transcript layer */

.transcript_layer {
    position: absolute;
    left :0 ;
    top :0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 1001;
    overflow: scroll;
    background-color: black;

}

#transcript_area {
    height: 100%;
    width: 100%;
    overflow: scroll;
    box-sizing: border-box;
    padding: 10px;
}

.textpic {
    float: left;
    margin: 25px;
}

.anykey_layer {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    z-index: 2000;
    display: none;
}

@media (max-width: 1024px) {
    body {
        font-size: 150%;
    }

    .graphics, .text, .input {
        width: 96%;
        margin-left: 2%;
    }

    .graphics, .text {
        position: relative;
    }

    .half_text, .all_text {
        position: auto;
        height: 88%;
        top: auto;
        bottom: auto;
        margin-bottom: 9%;
    }

    .location_picture {
        max-height: 85%;
    }

    .wrapper {
        height: auto;
        max-height: auto;
        overflow: auto;
    }

    .hidden {
        height: 0%;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 95%;
    }

    .graphics, .text, .input {
        width: 100%;
        margin-left: 0;
    }

    .half_text, .all_text {
        height: auto;
    }
}
